# .envrc
# Use this file with direnv to automatically load necessary environment variables.
#   https://github.com/direnv/direnv
#

# Usage:
#   This file is committed and loads values from .env and .env.local which are NOT committed.
#
#   Copy .env.sample to .env and then run "direnv allow" to load updated values.
#   Without direnv, just run "source .envrc" (assumes bash is your shell).
#

[[ -f "./.env" ]] && printf "direnv: loading .env\n" && source "./.env"

export COMPOSE_PROJECT_NAME=${COMPOSE_PROJECT_NAME}
export ALPINE_CONTAINER_IMAGE=${ALPINE_CONTAINER_IMAGE}
export GO_CONTAINER_IMAGE=${GO_CONTAINER_IMAGE}
export POSTGRES_CONTAINER_IMAGE=${POSTGRES_CONTAINER_IMAGE}
export REDIS_CONTAINER_IMAGE=${REDIS_CONTAINER_IMAGE}
export KAFKA_CONTAINER_IMAGE=${KAFKA_CONTAINER_IMAGE}
export AUTH_GOOGLE_OAUTH_CLIENT_ID=${AUTH_GOOGLE_OAUTH_CLIENT_ID}
export AUTH_GOOGLE_OAUTH_CLIENT_SECRET=${AUTH_GOOGLE_OAUTH_CLIENT_SECRET}
export AUTH_NEXTJS_SECRET=${AUTH_NEXTJS_SECRET}