# Authentication
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Database (if using Vercel KV)
AUTH_KV_REST_API_URL=
AUTH_KV_REST_API_TOKEN=

# External API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1
